main{
    align-items: center;
    padding: 1% 2.5% 5% 2.5%;
}

.pageLabel{
    color: #4D2C5E;
}

.bookmarkHolder{
    display: flex;
    flex-direction: column;
}

.bookmarkHolder .bookmark{
    height:5%;
    width: 95%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    margin: 0% 0% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4D2C5E;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bookmark button{
    background-color: rgb(173, 17, 17);
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bookmark button:hover{
    scale: 110%;
}

.bookmark button:active{
    background-color: #801010;
}

.bookmark button h4{
    font-size: 1rem;
    padding: 0;
    color: white;
    text-align: center;
}
